.Header {
    padding: 10px 20px;
    border-bottom: 1px solid #d8d8d8;
    background-color: #f9f9f9;
}

.Header h3 {
    font-size: 0.8em;
    color: gray;
}

input[type=text] {
    /* background: transparent; */
    background: yellow;
    border: none;
    width: 100%;
    margin: 10px 0;
    border-bottom: 1px solid #000000;
}

input:focus, button {
    outline: none !important;
}

.btn {
    width: 100%;
    font-size: 1em;
    font-weight: 700;
    padding: 10px;
    background: transparent;
    border: 2px solid #2478ea;
    color: #2478ea;
    border-radius: 100px;
    cursor: pointer;
    text-decoration: none;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}
