.Header {
    padding: 10px 20px;
    border-bottom: 1px solid #d8d8d8;
    background-color: #f9f9f9;
}

.Header h3 {
    font-size: 0.8em;
    color: gray;
}

input[type=text] {
    /* background: transparent; */
    background: yellow;
    border: none;
    width: 100%;
    margin: 10px 0;
    border-bottom: 1px solid #000000;
}

input:focus {
    outline: none !important;
}
